<link rel="import" href="./../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../bower_components/highcharts-chart/highcharts-chart.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./../bower_components/paper-button/paper-button.html">
<dom-module id="chart-details">
    <template>
        <h1>Chart details</h1>
        <div style="width:500px; text-align:center !important;" >
                <highcharts-chart type="spline" data='{{marketActions.chart}}' title='{{marketActions.header}}' x-zoom x-label="X Axis" y-label="Y Axis"></highcharts-chart>
        </div>
        <paper-button on-click="next">Next</paper-button>
        <paper-button on-click="back">Back</paper-button>
        <iron-ajax auto url="/data/financeDash.json" params='{}' handle-as="json" on-response="getDashboardData" debounce-duration="300"></iron-ajax>
    </template>
    <script>
        class ChartDetails extends Polymer.Element {
            static get is() {return 'chart-details';}
            getDashboardData(event, Request) {
                this.dashboardData = Request.response.data;
                this.latestNews = this.dashboardData.news[0];
                this.marketActions = Request.response.data.marketActions;
                this.mostActive = Request.response.data.mostActive;
                this.globalMarkets = Request.response.data.globalMarkets;
                //this.updated= this.news.shift();      
            }
            next() {
                window.history.pushState({}, null, "/employee-details");
                window.location.href="employee-details";
            }
            back()  {
                window.history.pushState({}, null, "/login-form");
                window.location.href="login-form";
            }


        }
        window.customElements.define(ChartDetails.is, ChartDetails);
    </script>
</dom-module>