<link rel="import" href="./../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./../bower_components/prism-pagination/prism-pagination.html">
<link rel="import" href="./../bower_components/prism-pagination/prism-circular-pager.html">
<dom-module id="employee-details">
    <template>
        <style>
            
           .eDetails {
               width: 70%;
               padding-left:70px !important;
           }

          
            prism-pagination a.general {
                color: black;
                text-decoration: none;
                padding: 4px;
                border: 1px solid rgba(134, 134, 134, 0.3);
                margin-right: 3px;
                display: block !important;
            }

            prism-pagination a.current {
                background-color: rgba(178, 178, 178, 0.5);
                display: block !important;
            }
        </style>        
        <h1>EmployeeDetails</h1>
        <div class="eDetails">
                <vaadin-grid items="{{employeeDetails}}">
                        <vaadin-grid-column width="9em" resizable>
                                <template class="header">
                                  <vaadin-grid-sorter path="firstName">First Name</vaadin-grid-sorter>
                                </template>
                                <template>[[item.firstName]]</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column width="9em" resizable>
                            <template class="header">
                                <vaadin-grid-sorter path="lastName">Last Name</vaadin-grid-sorter>
                            </template>
                            <template>[[item.lastName]]</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column width="9em" resizable>
                            <template class="header">
                                <vaadin-grid-sorter path="email">Email</vaadin-grid-sorter>
                            </template>
                            <template>[[item.email]]</template>
                        </vaadin-grid-column>
                </vaadin-grid>
                <p> 
                    <prism-circular-pager page="6" count="100" range="4" url="#/path-to-application/?page=#6" ></prism-circular-pager>
                              
                </p>
        </div>
        
        <iron-ajax auto url="/data/financeDash.json" params='{}' handle-as="json" on-response="getEmployeeDetails" debounce-duration="300"></iron-ajax>

    </template>
    <script>
    class EmployeeDetails extends Polymer.Element{
        static get is() {return 'employee-details';}
        getEmployeeDetails(event, Request) {
            
            this.employeeDetails = Request.response.data.employeeDetails;
        }
        linkclick() {
            alert("linkclick");
        }
    }

    window.customElements.define(EmployeeDetails.is, EmployeeDetails);
   
    </script>
</dom-bind>