<link rel="import" href="./../bower_components/polymer/polymer.html">
<link rel="import" href="./../bower_components/paper-input/paper-input.html">
<link rel="import" href="./../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="./../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="./../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="./../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="./../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="./../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-form">
  <template>
      <style>
          .loginform {
              margin:0 auto; 
              width: 500px !important;
          }
          paper-button {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }
  paper-button.pink {
    color: var(--paper-pink-a200);
    --paper-button-ink-color: var(--paper-pink-a200);
  }
  paper-button.pink:hover {
    background-color: var(--paper-pink-100);
  }
  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.indigo:hover {
    background-color: var(--paper-indigo-400);
  }
  paper-button.green {
    background-color: var(--paper-green-500);
    color: white;
  }
  paper-button.green[active] {
    background-color: var(--paper-red-500);
  }
  paper-button.disabled {
    color: white;
  }
          paper-dropdown-menu, paper-listbox {
                width: 250px;
            }
            paper-dropdown-menu {
                height: 50px;
                margin: auto;
                display: block;
            }
      </style>
      <div class="loginform">
            <h1>Login Form</h1>
            <paper-input id="firstName" char-counter maxLength="200" value= "{{submitObj.firstName}}"always-float-label placeholder="Please enter First name" label="First Name" required auto-validate></paper-input>
            <paper-input id="lastName" char-counter maxLength="200" value= "{{submitObj.lastName}}" always-float-label placeholder="Please enter Last name" label="Last Name" required auto-validate></paper-input>
            <paper-input id="quantity" char-counter maxLength="200" value= "{{submitObj.quantity}}"always-float-label placeholder="Please enter quantity" label="Quantity" allowed-pattern= "[-+]?([0-9]*\.[0-9]+|[0-9]+)" required auto-validate></paper-input>
            <paper-input id="password" type= "password"char-counter value= "{{submitObj.password}}" maxLength="200" always-float-label placeholder="Please enter Password" label="Password" required auto-validate></paper-input>
            <label id="sex">Sex</label>
            <paper-radio-group required auto-validate>
                <paper-radio-button name="female" value="female"checked="{{submitObj.sex1}}">Female</paper-radio-button>
                <paper-radio-button name="male" value="male" checked="{{submitObj.sex2}}">Male</paper-radio-button>
            </paper-radio-group>
            <paper-dropdown-menu label="Country" name="country" id="country"  value="{{submitObj.country}}" required auto-validate>
                    <paper-listbox slot="dropdown-content" id="dropDown"selected="0">
                      <paper-item>Please select country</paper-item>
                      <paper-item>India</paper-item>
                      <paper-item>US</paper-item>
                      <paper-item>UK</paper-item>
                      <paper-item>Canada</paper-item>
                    </paper-listbox>
            </paper-dropdown-menu><br>
            <vaadin-date-picker label="DOB" format="d/m/y" value="{{submitObj.date}}"placeholder="Please enter DOB" required auto-validate></vaadin-date-picker>
            <br>
            <paper-button raised class="indigo" on-click="submitMe">Submit</paper-button>
            <paper-button raised class="indigo" on-click="reset">Reset</paper-button>
        </div>
        <iron-ajax id="getDetails" url="/data/employee.json" handle-as="json" on-response="sendDetais"></iron-ajax>
        
  </template>
  <script>
      class LoginForm extends Polymer.Element{
          static get is() { return 'login-form';}
          static get properties() {
            
              return{
                submitObj: {
                    type: Object,
                    value : {}
                }
              }
          }

          submitMe() {debugger;
              console.log(this.submitObj);
              window.history.pushState({}, null, '/chart-details');
              window.location.href="chart-details";
          }
      }
      window.customElements.define(LoginForm.is, LoginForm)
  </script>
</dom-module>
